.Nome {
    font-size: 16px;
    text-align: left;
    color: #04bd4b;
    animation:alternate identifier 5s infinite;
}

@keyframes identifier {
    0%   { color: rgb(255, 0, 0); }
    25%  { color: rgb(0, 255, 0); }
    50%  { color: rgb(0, 128, 255); }
    75%  { color: rgb(255, 0, 255); }
    100% { color: rgb(255, 0, 0); }
}